<h1>Jobs</h2>
<br />

<ol class="breadcrumb">
  <li class="active">Jobs</li>
</ol>

<% @jobs.each do |job| %>
  <%= image_tag "/assets/icons/#{job.alias}.png", class: 'job-icon' %> <%= link_to job.name, show_job_path(job) %>
  <br /><br />
<% end %>
