<h1>Jobs</h2>
<br />

<ol class="breadcrumb">
  <li><%= link_to 'Jobs', jobs_path %></li>
  <li class="active"><%= @job.name %></li>
</ol>

<p>
  <%= image_tag "/assets/icons/#{@job.alias}.png", class: 'job-icon' %>
  <%= @job.description %>
</p>
