<h1>Classes</h2>
<br />

<ol class="breadcrumb">
  <li class="active">Classes</li>
</ol>

<% @classes.each do |job| %>
  <%= image_tag "/assets/icons/#{job.alias}.png", class: 'class-icon' %> <%= link_to job.name, show_class_path(job) %>
  <br /><br />
<% end %>
