<h1>Characters</h1>
<br />
<% @characters.each do |character| %>
  <div class="character-card">
    <%= image_tag character.active_job_portrait %>
    <div class="pull-right">
      <h2><%= link_to character.name, character_path(character) %></h2>
      <div id="character-job">
        <%= "Level #{character.active_character_job.level} #{character.active_character_job.job.name}" %>
      </div>
      <div id="character-jobs">
        <% character.list_jobs.each do |job_pair| %>
          <%= "#{job_pair[0]}:  #{job_pair[1]}" %>
          <br />
        <% end %>
      </div>
    </div>
  </div>
<% end %>
