<h1>Characters</h1>
<br />

<% @characters.each do |character| %>
  <div class="character-card">
    <%= image_tag "/assets/icons/#{character.current_job}.png", class: 'small-job-icon' %>
    <div class="pull-right">
      <h2><%= character.name %></h2>
      <%= "LVL #{character.job_levels[character.current_job]} #{character.get_job_name}" %>
    </div>
    <div class="job-sprite">
      <%= image_tag "/assets/sprites/#{character.current_job}/#{character.get_job_name}1M-S.gif" %>
    </div>
  </div>
<% end %>
