<h1>Characters</h1>
<br />
<% @characters.each do |character| %>
  <div class="character-card">
    <%= image_tag "/assets/sprites/#{character.job}/south.gif" %>
    <div class="pull-right">
      <h2><%= character.name %></h2>
      <%= "Lvl #{character.level} / " %>
      <div id="character-stats">
        <% job = character.job %>
      </div>
    </div>
  </div>
<% end %>
