// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.character-card {
  border: 5px;
  border-color: $theme;
  border-style: solid;
  width: 300px;
  height: 220px;
  padding: 15px;
  margin: 10px;
  background-color: white;
}
.character-card h2 {
  font-size: 45px;
  margin: 0;
  padding-bottom: 0;
}
.character-card p {
  margin: 0;
}
.job-sprite {
  margin-left: 15px;
  margin-top: 5px;
}
#character-stats {
  margin-left: 15px;
}
