// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-panel {
  border: 2px solid $theme;
  margin: 15px;
  padding: 0;
  background-color: white;
  .header {
    border-bottom: 2px solid $theme;
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $theme;
    color: white;
    height: 45px;
    text-align: center;
  }
}

.active-job {
  height: 500px;
  .portrait {
    width: auto;
    height: 170px;
    vertical-align: top;
    border: 3px solid $theme;
  }
  .info {
    padding: 15px;
  }
  .equipment {
    padding: 15px;
    .slots {
      list-style: none;
      .slot {
        width: 45px;
      }
    }
    .items {
      list-style:none;
      font-size:25px;
    }
  }
}

.jobs {
  height: 250px;
  #active {
    font-weight: 900;
    color: $theme;
  }
  .name {
    padding-right: 10px;
    padding-top: 15px;
  }
  .level {
    padding-left: 0;
    padding-top: 15px;
  }
}

.inventory {
  border: 2px solid $theme;
  background-color: white;
  margin: 15px;
  height: 500px;
  padding: 0;
  background-color: white;
  .type {
    border-right: 1px solid $theme;
    color: $theme;
    height: 453px;
    padding: 15px;
    text-align: center;
  }
  .quantity {
    padding-left: 0;
  }
  .name {
    padding-right: 10px;
  }
  #consumables {
    padding-top: 15px;
  }
}
