// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job-icon {
  height: 100px;
  width: 100px;
}
.small-job-icon {
  height: 70px;
  width: 70px;
}
