// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.party-character-card {
  width: 150px;
  height: 180px;
  padding: 15px;
  margin: 8px;
  background-color: white;
  border: 1px solid $theme;
}

#party-row-header {
  padding-top: 35px;
  font-size: 25px;
}

#party-row {

}
